@model OCBC_Joint_Account_Application.Models.Account360ViewModel

@{
    ViewData["Title"] = "Network";
}

<div class="container-fluid device" style="margin-top: 150px; padding-bottom: 50px;">
    <div class="network-margin">
        <div class="page-margin" style="margin: 0 20% 0 20%;">

            <h1 class="device-title">FOUND A DEVICE!</h1>
            <h4 class="device-para">Confirm that this is the device you want to connect to. By accepting, your information will be sent to this the device.</h4>

            <h3 class="device-info">Device Name: <span>@ViewData["TCPHost"]</span></h3>
            <h3 class="device-info">IP Address: <span>@ViewData["TCPIp"]</span></h3>
            <form method="post">
                <div style="margin-top: 60px; text-align: left; z-index: 0; position: relative;">
                    <input class="resend device-btn" type="submit" value="Reject" asp-controller="Account360" asp-route-id="1" asp-action="Network">
                </div>

                <div style="margin-top: 60px; text-align: left; z-index: 0; position: relative;">
                    <input class="resend device-btn" type="submit" value="Accept" asp-controller="Account360" asp-route-id="2" asp-action="Network" style="background-color: green">
                </div>
            </form>

        </div>
    </div>
</div>


