
@{
    ViewData["Title"] = "SuccessWIFI";
}

<div class="container-fluid" style="margin-top: -60px; padding-bottom: -600px;">
    <div style="margin: 0 20% 0 20%; text-align: center;">
        <div class="row">
            <div class="col-md-4">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_xvqumrty.json" mode="bounce" background="transparent" speed="1" style="width: 1000px; height: 1000px; margin-left: -380px; margin-top: -120px" autoplay loop></lottie-player>
            </div>
            <div class="col-md-8">
                <div style="margin: 200px 0 0 100px;">
                    <div style="margin: 100px 0px 0px ; text-align: left;">
                        <h1 style="font-size: 36px; font-weight: bold;">Successfully Sent to @Context.Session.GetString("ListeningHostname")</h1>
                    </div>
                    <div style="text-align: left;">
                        <h1 style="font-size: 25px; font-weight: normal;">Pending continuation from Joint-Applicant</h1>
                    </div>
                    <div style="text-align: left; margin-top: 50px;">
                        <h1 style="font-size: 22px; font-weight: lighter;">
                            The continuation details has been sent to <b> @Context.Session.GetString("ListeningHostname")</b> through your local network.
                        </h1>
                    </div>
                    <form>
                        <div style="margin-top: 60px; text-align: left; z-index: 0; position: relative;">
                            <input class="resend" type="submit" value="Close" asp-controller="Home" asp-action="Index">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
